{{ with .Site.Params.about }}
<div class="aside__about">
    {{ with .logo }}<img class="about__logo" src="{{ . | absURL }}" alt="Logo">{{ end }}
<h1 class="about__title">{{ .title }}</h1>
{{ with .description }}<p class="about__description">{{ . | markdownify }}</p>{{ end }}
</div>
{{ end }}

<ul class="aside__social-links">
    {{ range $item := .Site.Params.socialLinks }}
    <li>
        {{ with $item }}<a href="{{ url }}" rel="me" aria-label="{{ title }}" title="{{ title }}"><img aria-hidden="true" src="{{ . | logo }}"></a>&nbsp;
    </li>
    {{ end }}
</ul>
